<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
   <h1>Welcome To Translate File</h1>
   <form action="/translate" method="post" enctype="multipart/form-data">
   <input type="file"  name="file">
   <p>select the target language:</p>
   <select name="language">
  <option value="fr">French</option>
  <option value="ar">Arabe</option>
  <option value="en">English</option>
   </select>
   <p>select target extension:</p>
   <select name="extension"> 
  <option value="pdf">PDF</option>
  <option value="txt">TXT</option>
   </select>
   <br> <br> 
   <input type="submit" class="button-33" value="translate">
</form>
</div>
<footer><div><span>&copy; Firas Sayeb 2024 </span><div></div><a href="mailto:firassayeb2@gmail.com"><img src="/static/gmail.jpg"></a>
    <a href="https://github.com/FirasSayeb"><img src="/static/github.png"></a><a href="https://www.linkedin.com/in/firas-sayeb-6233a2233/"><img src="/static/linkedin.png"></a></div></footer>
</body>
</html>


