<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate File</title>
</head>
<body>
   <h1>Welcome Translate File</h1>
   <form action="/translate" method="post" enctype="multipart/form-data">
   <input type="file" name="file">
   <p>sélectionnez la langue cible:</p>
   <select name="language">
  <option value="fr">French</option>
  <option value="ar">Arabe</option>
  <option value="en">English</option>
   </select>
   <p>sélectionnez extension cible:</p>
   <select name="extension"> 
  <option value="pdf">PDF</option>
  <option value="txt">TXT</option>
   </select>
   <br> <br> 
   <input type="submit" value="translate">
</form>
</body>
</html>